In [13]:
#importing the libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [14]:
#iloading the datasets

train_data= pd.read_csv('train.csv')
test_data= pd.read_csv('test.csv')

In [15]:
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [16]:
test_data.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [17]:
#Handling missing values

from sklearn.impute import SimpleImputer

imp = SimpleImputer(missing_values=np.nan, strategy='mean')
train_data["Age"] = imp.fit_transform(train_data["Age"].values.reshape(-1,1))
test_data["Age"] = imp.fit_transform(test_data["Age"].values.reshape(-1,1))
test_data["Fare"] = imp.fit_transform(test_data["Fare"].values.reshape(-1,1))

imp_emb = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
train_data["Embarked"] = imp_emb.fit_transform(train_data["Embarked"].values.reshape(-1,1))

In [18]:
#Training the model using Random Forest Classifier

from sklearn.ensemble import RandomForestClassifier

y = train_data["Survived"]
features = ["Pclass","Sex","Age","SibSp","Parch","Fare","Embarked"]

X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])        # For categorical variables
classifier = classifier = RandomForestClassifier(n_estimators=100, max_depth=5,min_samples_leaf=2)
classifier.fit(X, y)
predictions = classifier.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('my_prediction19.csv', index=False)
print("Your submission was successfully saved!")
print(output)

Your submission was successfully saved!
     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]